[submodule "SharedCode/MFCApp"]
	path = SharedCode/MFCApp
	url = https://github.com/BlazesRus/MFCApp.git
[submodule "SharedCode/MFCTextViewer"]
	path = SharedCode/MFCTextViewer
	url = https://github.com/BlazesRus/MFCTextViewer.git
[submodule "SharedCode/FileReferenceMacros"]
	path = SharedCode/FileReferenceMacros
	url = https://github.com/BlazesRus/FileReferenceMacros.git
[submodule "SharedCode/XMLViewer"]
	path = SharedCode/XMLViewer
	url = https://github.com/BlazesRus/XMLViewer.git
