# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
AnyCPU/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015 cache/options directory
.vs/

[Ll]ib/
packages/
/*.sdf
/*.opensdf
/*.obj
/*.log
/*.pdb
/*.tlog
/*.lastbuildstate
/*.dll
/*.lib
/*.tlog
.vs/*.*
/.vs

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Chutzpah Test files
_Chutzpah*

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# TFS 2012 Local Workspace
$tf/

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# JustCode is a .NET coding add-in
.JustCode

# TeamCity is a build add-in
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# MightyMoose
*.mm.*
AutoTest.Net/

# Web workbench (sass)
.sass-cache/

# Installshield output folder
[Ee]xpress/

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once directory
publish/

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
# TODO: Comment the next line if you want to checkin your web deploy settings
# but database connection strings (with potential passwords) will be unencrypted
*.pubxml
*.publishproj

# Microsoft Azure Web App publish settings. Comment the next line if you want to
# checkin your Azure Web App publish settings, but sensitive information contained
# in these scripts will be unencrypted
PublishScripts/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
# NuGet v3's project.json files produces more ignoreable files
*.nuget.props
*.nuget.targets

# Microsoft Azure Build Output
csx/
*.build.csdef

# Microsoft Azure Emulator
ecf/
rcf/

# Windows Store app package directories and files
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/

# Others
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
node_modules/

.vs/BlazesRusSharedCode/v15/.suo
*.cache
BlazesCSharpSharedCode/obj/x64/Release/BlazesCSharpSharedCode.csproj.CoreCompileInputs.cache
*.dll
*.dat
#Other project
Galculator/
RYLTableGenerator/
*Havok*
BlazesCSharpSharedCode/SharedCode_NodeTrees/NodeTreeGlobals.cs
SharedCode/HkBasedCode/BlazesBehaviorFileMerger.cpp
SharedCode/HkBasedCode/BlazesBehaviorFileMerger.h
SharedCode/HkBasedCode/DifferenceData.cpp
SharedCode/HkBasedCode/DifferenceData.h
SharedCode/HkBasedCode/HkBhvData.cpp
SharedCode/HkBasedCode/HkBhvData.h
SharedCode/HkBasedCode/HkBhvNodeTree.cpp
SharedCode/HkBasedCode/HkBhvNodeTree.h
SharedCode/HkBasedCode/HkClassUsageTree.cpp
SharedCode/HkBasedCode/HkClassUsageTree.h
SharedCode/luple/
!SharedCode/luple/README.md
!SharedCode/luple/luple.h
!SharedCode/luple/type-loophole.h
CombinedBaseMultiview/
SharedCode/PagedMultiviewTreeControlOld/

SharedCode/TreeViewV2/

SharedCode/HybridPlatform/

SharedCode/MFCHybrid/
SharedCode/MFCApp/TextViewV0.h
SharedCode/MFCApp/TextViewV0.cpp